<?xml version="1.0" encoding="utf-8"?>
<!-- User settings without any Test Adapter for TAEF settings (the solution settings and defaults apply) -->
<RunSettings>
  <TaefTestAdapterSettings>
    <SolutionSettings>
    </SolutionSettings>
    <ProjectSettings>
    </ProjectSettings>
  </TaefTestAdapterSettings>
</RunSettings>
